body {
  background: #232323;
  font-family: "Avenir", "Montserrat";
  margin: 0;
}

h1 {
  background: steelblue;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  margin: 0;
  padding: 20px 0;
}

#color-display {
  font-size: 200%;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  background: gold;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

.selected-mode {
  background: steelblue;
  color: white;
}

button {
  background: none;
  color: steelblue;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: inherit;
  height: 100%;
  transition: all 0.3s;
}

button:hover {
  background: steelblue;
  color: white;
}